<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/workaahmed16">Ahmed</a>.A web developer who teaches programming part-time, enjoys watching documentaries, and is addicted to coffee. 
  </p>
  <br />
  <p>
    Ahmed has studied Ruby on rails for four months and continues to develop this skill. He also usto program in highschool and college where he was exposed to programming fundamentals and all kinds of algorithmic challenges that were mainly solved by Java.
  </p>
  
</div>


<div class="col-xs-12 col-sm-4">
    <%= image_tag 'ahmed.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ahmed Ahmed</h2>
    <br />
    <p>
      Ahmed believes the best way to program is through Test-driven development. Every line of code must be tested before moving on. This insures good functionality. Ahmed strives to follow the principles laid out by one of his favorite programmers. He relies on the <a target="_blank" href="http://butunclebob.com/ArticleS.UncleBob.TheThreeRulesOfTdd">Three rules of TDD</a> laid out by <a target="_blank" href="https://en.wikipedia.org/wiki/Robert_Cecil_Martin">Robert Martin.</a>
    </p>
  </div>

<br class="clear" />
<br />
<br />
<br />
<br />